$fuente: "Space Mono";
$tamaño: 24px;
$blanco: hsl(0, 0%, 100%);
$color-fondo: hsl(185, 41%, 84%);
$color-principal: hsl(183, 100%, 15%);
$color-fuente-resaltado: hsl(172, 67%, 45%);
$color-fuente-resaltado-leve: hsl(172, 20%, 40%);

$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);