$fuente: "Space Mono";
$tamaño: 24px;
$blanco: hsl(0, 0%, 100%);
$color-fondo: hsl(185, 41%, 84%);
$color-principal: hsl(183, 100%, 15%);
$color-fuente-resaltado: hsl(172, 67%, 45%);
$color-fuente-resaltado-leve: hsl(172, 20%, 40%);