@use "stilos";

* {
  font-family: stilos.$fuente;
  font-weight: 700 ;
}
body {
  display: grid;
  justify-content: center;
  background-color: stilos.$light-grayish-cyan;
}

.block {
  background-color: stilos.$white;
  border-radius: 20px;
  padding: 35px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
}

.col1 {
  display: grid;
  grid-column: 1;
  justify-content: space-between;
  row-gap: 10%;
  margin-bottom: 20%;
}
.col2 {
  display: grid;
  grid-column: 2;
  row-gap: 10%;
}

.inner-block {
  background-color: stilos.$very-dark-cyan;
  border-radius: 10px;
  color: stilos.$white;
  padding: 10%;
}

.sub-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
}

.columna1 {
  grid-column: 1;
}
.columna2 {
  display: grid;
  grid-column: 2;
  align-items: center;
}

input[type="number"] {
  text-align: right;
  background-color: stilos.$light-grayish-cyan;
  border-radius: 0 5px 5px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  border: none;
  padding: 10px;

  &:focus {
    border: none;
  }

  &:active {
    border: none;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.headers {
  font-size: 12px;
}

.input-group {
  display: flex;
  align-items: stretch;
}

.input-group-text {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.dollar {
  background-color: stilos.$light-grayish-cyan;
  border: none;
  border-radius: 5px 0 0 5px;
  font-weight: 100;
}
.errorBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.error {
  text-align: right;
  font-size: 12px;
  color: red;
}

.tipError{
  text-align: right;
  font-size: 12px;
  color: red;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2%;
}

.boton1:hover,
.boton2:hover {
  background-color: stilos.$very-dark-cyan;
}

.btn {
  background-color: stilos.$very-dark-cyan;
  color: stilos.$white;
  border-radius: 5px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-family: "Space Mono";
  font-weight: 700;
  outline: none;
  transition: 0.2s all;
}
.btn:active{
  background-color: #26c0ab;
  color: #00494d;
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */

}

.btn:hover{
  background-color: stilos.$strong-cyan;

}

.custom {
  text-align: center !important;
  border-radius: 5px !important;
  font-weight: 700;
}

h1 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.low-headers {
  font-size: 10px;
}

.tip-amount,
.total {
  display: flex;
  font-size: 34px;
  color: stilos.$strong-cyan;
  align-items: center;
  font-weight: 800;

}
.reset {
  display: grid;
  grid-column: 1 / span 2;
  margin-top: 30%;
  margin-bottom: 30px;
  background-color: #26c0ab66;
  color: stilos.$very-dark-cyan;
  border-radius: 5px;
  font-size: 12px;
  padding: 5%;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
}

.reset:hover {
  background-color: stilos.$strong-cyan;
}

@media screen and (max-width: 755px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner-block{
    margin-block: 10%;
  }
  .btn-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
  }
  .custom{
    text-align: center !important;
    border-radius: 5px !important;
    font-weight: 700;
    padding: 0% !important;
    margin: 5%;
  }
}

@media screen and (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner-block{
    margin-block: 10%;
  }
  .btn-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
  }

}
