@use "stilos";

html, body {
  font-family: stilos.$fuente;
  font-weight: 700;
}
body {
  display: grid;
  justify-content: center;
  background-color: stilos.$color-fondo;
}

.block {
  background-color: stilos.$blanco;
  border-radius: 20px;
  padding: 35px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
}

.col1 {
  display: grid;
  grid-column: 1;
  justify-content: space-between;
}
.col2 {
  grid-column: 2;
}

.inner-block {
  background-color: stilos.$color-principal;
  border-radius: 10px;
  color: stilos.$blanco;
  padding: 10%;
}

.sub-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
}

.columna1 {
  grid-column: 1;
}
.columna2 {
  display: grid;
  grid-column: 2;
  align-items: center;
}

input[type="number"] {
  text-align: right;
  background-color: stilos.$color-fondo;
  border-radius: 0 5px 5px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  border: none;
  padding: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.headers {
  font-size: 12px;
}

.input-group {
  display: flex;
  align-items: stretch;
}

.input-group-text {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.dollar {
  background-color: stilos.$color-fondo;
  border: none;
  border-radius: 5px 0 0 5px;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2%;
}

.boton1 {
  grid-row: 1/2;
}
.boton2 {
  grid-row: 2/2;
}
.boton1:hover,
.boton2:hover {
  background-color: stilos.$color-fuente-resaltado;
}

.btn {
  background-color: stilos.$color-principal;
  color: stilos.$blanco;
  border-radius: 5px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.custom {
  text-align: center !important;
}

h1 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.low-headers {
  font-size: 10px;
}

.tip-amount,
.total {
  font-size: 34px;
  color: stilos.$color-fuente-resaltado;
}
.reset {
  display: grid;
  grid-column: 1 / span 2;
  margin-bottom: 20px;
  background-color: stilos.$color-fuente-resaltado-leve;
  color: stilos.$color-principal ;
  border-radius: 5px;
  font-size: 24px;
  padding: 2%;
}

.reset:hover {
  background-color: stilos.$color-fuente-resaltado;
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner-block{
    margin-block: 10%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner-block{
    margin-block: 10%;
  }
}
